.personal-info {
  display: flex;

  &__image {
    height: 410px;
    width: 350px;
    position: relative;
    z-index: 1;

  }

  &__background {
    display: inline-block;
  }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .personal-info {
    display: flex;
    flex-direction: column;

    &__background {
      margin: 0 auto;
    }

    &__image {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .personal-info {

    &__image {
      height: 560px;
      width: 480px;
    }
  }
}

@media screen and (min-width: 1160px) {
  .personal-info {

    &__background::after {
      background-color: #eff0f2;
      content: '';
      display: block;
      height: 350px;
      left: -25px;
      position: absolute;
      top: 33px;
      width: 400px;
      z-index: -1;
    }
  }
}





