.what-they-says {
  background-color: $what-they-says-background;

  &__points {
    display: inline-block;
  }

  &__button {
    display: inline-block;
  }
}

@media screen and (min-width: 1160px) {
  .what-they-says {

    &__points {
      margin-top: 10px;
      margin-left: 11%;
    }

    &__button {
      margin-left: 70%;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1160px) {
  .what-they-says {

    &__points {
      margin-top: 10px;
      margin-left: 11%;
    }

    &__button {
      margin-left: 66%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .what-they-says {
    &__button {
      display: none;
    }
  }
}
