@font-face {
  font-family: 'Montserrat-Bold';
  font-style: italic;
  font-weight: 800;
  src: url("../../fonts/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  src: url("../../fonts/Montserrat-Medium.ttf"); }

@font-face {
  font-family: 'Merriweather-Regular';
  font-style: normal;
  src: url("../../fonts/Merriweather-Regular.ttf"); }

@font-face {
  font-family: 'Raleway-Medium';
  font-style: normal;
  src: url("../../fonts/Raleway-Medium.ttf"); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  outline: none; }

.logo__image {
  height: 45px;
  width: 115px;
  display: block;
  max-width: 100%; }

.menu-button {
  border: 0;
  cursor: pointer; }
  .menu-button__grey {
    background-color: #efeff1; }
  .menu-button__item {
    background-color: #000;
    border-radius: 50px;
    height: 4px;
    width: 30px; }
  .menu-button__item:nth-child(2) {
    margin: 5px 0; }

.content {
  margin: 0 auto; }

@media screen and (min-width: 1160px) {
  .content {
    width: 1160px; } }

@media screen and (min-width: 320px) and (max-width: 1160px) {
  .content {
    width: 95%; } }

.title {
  text-align: center; }
  .title_grey {
    color: #505050;
    text-shadow: 4px 4px 13px rgba(56, 66, 80, 0.5); }
  .title__background_blue {
    background-color: #75f3e9; }

.button {
  border: 1px solid #000;
  font-size: 18px;
  padding: 15px 50px;
  text-transform: uppercase;
  cursor: pointer; }
  .button_black {
    color: #000; }

.about-us {
  background-color: #f8f9fa; }
  .about-us__content {
    display: flex; }
  .about-us__slider, .about-us__description {
    padding: 0 56px; }

@media screen and (min-width: 600px) and (max-width: 1160px) {
  .about-us__description {
    padding-top: 50px; } }

@media screen and (min-width: 320px) and (max-width: 1160px) {
  .about-us__content {
    flex-direction: column;
    text-align: center; }
  .about-us__slider {
    display: inline-block; } }

@media screen and (min-width: 320px) and (max-width: 600px) {
  .about-us__description {
    padding: 20px 0 0; } }

.slider {
  position: relative;
  z-index: 1; }
  .slider__item {
    animation-duration: 1.5s;
    animation-name: fade;
    display: none; }
  .slider__points {
    display: flex;
    justify-content: center;
    margin-top: 45px; }

@keyframes fade {
  from {
    opacity: .8; }
  to {
    opacity: 1; } }

@media screen and (min-width: 1160px) {
  .slider__item_fixed {
    height: 480px;
    width: 400px; }
  .slider_background::after {
    background-color: #eff0f2;
    content: '';
    display: block;
    height: 410px;
    left: 20px;
    position: absolute;
    top: 35px;
    width: 470px;
    z-index: -1; } }

@media screen and (min-width: 600px) and (max-width: 1160px) {
  .slider__item_fixed {
    height: 560px;
    width: 480px; } }

@media screen and (min-width: 320px) and (max-width: 600px) {
  .slider__item_fixed {
    height: 370px;
    width: 340px; } }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .slider__item_fixed {
    height: 260px;
    width: 230px; } }

.description__title {
  font-family: "Merriweather-Regular", serif;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: .75;
  text-transform: uppercase;
  padding-bottom: 20px; }
  .description__title_big {
    font-size: 20px; }
  .description__title_small {
    font-size: 17px; }

.description__content {
  font-family: "Raleway-Medium", sans-serif;
  padding-bottom: 20px;
  opacity: .74; }

.point-group__point {
  background-color: #point;
  border: 1px solid #ccc;
  border-radius: 30%;
  display: inline-block;
  height: 13px;
  margin: 0 2px;
  padding: 0;
  width: 13px; }
  .point-group__point_active {
    background-color: #71f5eb; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .gallery__item_square {
    margin-top: 25px; }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .gallery__item_square {
    height: 300px;
    width: 300px; } }

@media screen and (min-width: 480px) {
  .gallery__item_square {
    height: 360px;
    width: 360px; } }

.block {
  color: #000; }
  .block__title {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .block__sub-title {
    font-family: "Merriweather-Regular", serif;
    font-size: 18px;
    letter-spacing: 1px;
    opacity: .62;
    text-transform: uppercase; }
  .block__header {
    text-align: center; }

@media screen and (min-width: 1160px) {
  .block {
    padding: 150px 0; }
    .block__header {
      padding-bottom: 150px; } }

@media screen and (min-width: 600px) and (max-width: 1160px) {
  .block {
    padding: 30px 0; }
    .block__header {
      padding-bottom: 30px; } }

@media screen and (min-width: 320px) and (max-width: 600px) {
  .block {
    padding: 20px 0; }
    .block__header {
      padding-bottom: 20px; } }

.what-they-says {
  background-color: #f9fafb; }
  .what-they-says__points {
    display: inline-block; }
  .what-they-says__button {
    display: inline-block; }

@media screen and (min-width: 1160px) {
  .what-they-says__points {
    margin-top: 10px;
    margin-left: 11%; }
  .what-they-says__button {
    margin-left: 70%; } }

@media screen and (min-width: 1024px) and (max-width: 1160px) {
  .what-they-says__points {
    margin-top: 10px;
    margin-left: 11%; }
  .what-they-says__button {
    margin-left: 66%; } }

@media screen and (max-width: 1024px) {
  .what-they-says__button {
    display: none; } }

.personal-info {
  display: flex; }
  .personal-info__image {
    height: 410px;
    width: 350px;
    position: relative;
    z-index: 1; }
  .personal-info__background {
    display: inline-block; }

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .personal-info {
    display: flex;
    flex-direction: column; }
    .personal-info__background {
      margin: 0 auto; }
    .personal-info__image {
      margin: 0 auto; } }

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .personal-info__image {
    height: 560px;
    width: 480px; } }

@media screen and (min-width: 1160px) {
  .personal-info__background::after {
    background-color: #eff0f2;
    content: '';
    display: block;
    height: 350px;
    left: -25px;
    position: absolute;
    top: 33px;
    width: 400px;
    z-index: -1; } }

.personal-content {
  text-align: center;
  background-color: #e9ebed; }
  .personal-content__title {
    font-size: 20px;
    letter-spacing: 1px;
    color: #000;
    font-family: "Montserrat-Bold", sans-serif; }
  .personal-content__description {
    color: #000;
    opacity: .70;
    font-family: "Raleway-Medium", sans-serif;
    padding-bottom: 30px; }

@media screen and (min-width: 1024px) {
  .personal-content {
    padding: 100px 80px 70px;
    margin: 30px 0 30px 120px; }
    .personal-content__title {
      padding-bottom: 35px; } }

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .personal-content {
    padding: 30px 20px 20px;
    margin: 20px 0; }
    .personal-content__title {
      padding-bottom: 15px; } }

@media screen and (min-width: 320px) and (max-width: 600px) {
  .personal-content {
    padding: 20px 20px 20px;
    margin: 10px 0; }
    .personal-content__title {
      padding-bottom: 15px; } }

.text-style_skill {
  color: #787878;
  font-style: italic;
  font-size: 15px; }

.button-group__button {
  background-color: #71f5eb;
  border: 0;
  border-radius: 15%;
  cursor: pointer;
  height: 50px;
  width: 50px; }

.button-group__button:nth-of-type(2) {
  margin-left: 20px; }

.message-form {
  background-color: #021523;
  opacity: .71;
  color: #fff; }

@media screen and (min-width: 1024px) {
  .message-form {
    width: 550px;
    padding: 40px 30px;
    margin-right: 25px; } }

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .message-form {
    padding: 40px 15px;
    margin-bottom: 25px; } }

.form-block {
  padding-bottom: 25px; }
  .form-block__label {
    display: block;
    opacity: .60;
    font-size: 15px;
    font-family: "Raleway-Medium", sans-serif; }
  .form-block__input {
    padding-top: 5px;
    width: 100%;
    display: block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(250, 250, 250, 0.6);
    resize: none; }
    .form-block__input_textarea {
      height: 75px; }
  .form-block__submit {
    width: 245px;
    height: 55px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Montserrat-Medium", sans-serif;
    border-radius: 3%;
    background-color: #6dede3; }

.contact-info {
  background-color: #021523;
  color: #fff;
  opacity: .71; }
  .contact-info__item {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 15px;
    margin-bottom: 10px; }
  .contact-info__block:nth-child(2n) {
    padding-top: 25px; }
  .contact-info__google_map {
    height: 200px;
    width: 450px; }
  .contact-info__google_map img {
    height: 200px;
    width: 450px;
    display: block; }

@media screen and (min-width: 1024px) {
  .contact-info {
    width: 500px;
    padding: 40px 30px; }
    .contact-info__google_map {
      height: 200px;
      width: 450px; }
    .contact-info__google_map img {
      height: 200px;
      width: 450px;
      display: block; } }

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .contact-info {
    padding: 40px 15px; }
    .contact-info__google_map {
      height: 300px;
      width: 550px; }
    .contact-info__google_map img {
      height: 300px;
      width: 500px;
      display: block; } }

@media screen and (min-width: 480px) and (max-width: 600px) {
  .contact-info {
    padding: 40px 15px; }
    .contact-info__google_map {
      height: 200px;
      width: 400px; }
    .contact-info__google_map img {
      height: 200px;
      width: 400px;
      display: block; } }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact-info {
    padding: 40px 15px; }
    .contact-info__google_map {
      height: 150px;
      width: 300px; }
    .contact-info__google_map img {
      height: 150px;
      width: 300px;
      display: block; } }

.contact {
  position: relative;
  z-index: 1; }
  .contact__content {
    display: flex; }

.contact::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/images/christmas_snow_trees-wide.png") no-repeat center center;
  background-size: cover;
  opacity: .4; }

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .contact__content {
    flex-direction: column; } }

.social-icon {
  color: #8a8a8a; }

.menu {
  display: flex; }
  .menu__item {
    padding: 5px; }
  .menu__item:not(:last-child) {
    margin-right: 13px; }
  .menu__item:hover {
    background-color: #fff; }
  .menu__close {
    background-color: #efeff1;
    cursor: pointer;
    content: '';
    background-image: url("/images/close_img.png");
    background-size: 100% 100%;
    height: 10px;
    width: 10px;
    display: block; }

.link__menu {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat-Medium", sans-serif; }

.main-menu {
  display: none; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 0 auto; }
  .modal__content {
    display: inline-block;
    text-align: left; }

.message-form-success-model__content {
  background-color: #fff; }

.header {
  background-color: #efeff1;
  font-family: "Montserrat-Bold", sans-serif;
  position: relative; }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__bottom_center {
    text-align: center; }
  .header__title {
    font-weight: bold;
    text-transform: uppercase; }
  .header__contact-us {
    font-family: "Montserrat-Medium", sans-serif;
    background-color: #efeff1;
    letter-spacing: 2px;
    opacity: .75;
    position: relative; }

@media screen and (min-width: 600px) {
  .header::after {
    position: absolute; } }
  @media screen and (min-width: 600px) and (min-width: 1160px) {
    .header::after {
      content: '';
      background-image: url("/images/juice_glass.png");
      background-size: 100% 100%;
      height: 120px;
      width: 120px;
      display: block;
      bottom: 15%;
      left: 70%; } }
  @media screen and (min-width: 600px) and (min-width: 600px) and (max-width: 1160px) {
    .header::after {
      content: '';
      background-image: url("/images/juice_glass.png");
      background-size: 100% 100%;
      height: 100px;
      width: 100px;
      display: block;
      bottom: 1%;
      left: 70%; } }

@media screen and (min-width: 320px) and (max-width: 1160px) {
  .header {
    padding-bottom: 30px;
    padding-top: 30px; }
    .header__middle {
      padding-bottom: 20px;
      padding-top: 10px; } }

@media screen and (min-width: 320px) and (max-width: 600px) {
  .header__title {
    font-size: 16px; } }

@media screen and (min-width: 600px) and (max-width: 1160px) {
  .header__title {
    font-size: 25px; } }

@media screen and (min-width: 1160px) {
  .header {
    padding-bottom: 200px;
    padding-top: 60px; }
    .header__middle {
      padding-bottom: 150px;
      padding-top: 200px; }
    .header__title {
      font-size: 45px; } }

.footer {
  background-color: #262a2e;
  font-family: "Raleway-Medium", sans-serif;
  color: #fff; }
  .footer__title {
    padding-bottom: 15px;
    opacity: .80;
    font-weight: lighter; }
  .footer__social-icons {
    padding-bottom: 40px; }
  .footer__item {
    text-align: center; }
  .footer__copyright {
    opacity: .40; }
