.menu-button {
  border: 0;
  cursor: pointer;

  &__grey {
    background-color: $grey-background;
  }

  &__item {
    background-color: $black;
    border-radius: 50px;
    height: 4px;
    width: 30px;
  }

  &__item:nth-child(2) {
    margin: 5px 0;
  }
}

