.contact-info {
  background-color: $contact-background;
  color: $white;
  opacity: .71;

  &__item {
    font-family: $raleway, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
  }

  &__block:nth-child(2n) {
    padding-top: 25px;
  }
  
  &__google_map {
    height: 200px;
    width: 450px;
  }

  //TODO: delete the will be used google map
  &__google_map img{
    height: 200px;
    width: 450px;
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .contact-info {
    width: 500px;
    padding: 40px 30px;

    &__google_map {
      height: 200px;
      width: 450px;
    }

    //TODO: delete the will be used google map
    &__google_map img{
      height: 200px;
      width: 450px;
      display: block;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .contact-info {
    padding: 40px 15px;

    &__google_map {
      height: 300px;
      width: 550px;
    }

    //TODO: delete the will be used google map
    &__google_map img{
      height: 300px;
      width: 500px;
      display: block;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
  .contact-info {
    padding: 40px 15px;
    &__google_map {
      height: 200px;
      width: 400px;
    }

    //TODO: delete the will be used google map
    &__google_map img{
      height: 200px;
      width: 400px;
      display: block;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact-info {
    padding: 40px 15px;
    &__google_map {
      height: 150px;
      width: 300px;
    }

    //TODO: delete the will be used google map
    &__google_map img{
      height: 150px;
      width: 300px;
      display: block;
    }
  }
}