.description {
  &__title {
    font-family: $merriweather, serif;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: .75;
    text-transform: uppercase;
    padding-bottom: 20px;

    &_big {
      font-size: 20px;
    }

    &_small {
      font-size: 17px;
    }
  }

  &__content {
    font-family: $raleway, sans-serif;
    padding-bottom: 20px;
    opacity: .74;
  }
}
