.message-form {
  background-color: #021523;
  opacity: .71;
  color: $white;
}

@media screen and (min-width: 1024px) {
  .message-form {
    width: 550px;
    padding: 40px 30px;
    margin-right: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .message-form {
    padding: 40px 15px;
    margin-bottom: 25px;
  }
}