.about-us {
  background-color: $about-us-background;

  &__content {
    display: flex;
  }

  &__slider,
  &__description {
    padding: 0 56px;
  }
}

@media screen and (min-width:600px) and (max-width:1160px) {
  .about-us {

    &__description {
      padding-top: 50px;
    }
  }
}

@media screen and (min-width:320px) and (max-width:1160px) {
  .about-us {
    &__content {
      flex-direction: column;
      text-align: center;
    }

    &__slider {
      display: inline-block;
    }
  }
}

@media screen and (min-width:320px) and (max-width:600px) {
  .about-us {

    &__description {
      padding: 20px 0 0;
    }
  }
}
