@font-face {
  font-family: 'Montserrat-Bold';
  font-style: italic;
  font-weight: 800;
  src: url('../../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  src: url('../../fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Merriweather-Regular';
  font-style: normal;
  src: url('../../fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'Raleway-Medium';
  font-style: normal;
  src: url('../../fonts/Raleway-Medium.ttf');
}

@import 'color';
@import 'font';
@import 'default';
