$white: #fff;
$black: #000;
$grey: #505050;
$grey-background: #efeff1;
$point: #cfcfcf;
$point-active: #71f5eb;
$about-us-background: #f8f9fa;
$slider-background: #eff0f2;
$slider-point: #ccc;
$title-background: #75f3e9;
$what-they-says-background: #f9fafb;
$personal-content-background: #e9ebed;
$text-style-skill: #787878;
$contact-background: #021523;
$submit-button: #6dede3;
$footer-background: #262a2e;
$social-color: #8a8a8a;
