.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    &_square {
      margin-top: 25px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .gallery {
    &__item {
      &_square {
        height: 300px;
        width: 300px;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .gallery {
    &__item {
      &_square {
        height: 360px;
        width: 360px;
      }
    }
  }
}
