.contact {
  position: relative;
  z-index: 1;

  &__content {
    display: flex;
  }
}

.contact::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/images/christmas_snow_trees-wide.png') no-repeat center center;
  background-size: cover;
  opacity: .4;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .contact {
    &__content {
      flex-direction: column;
    }
  }
}