.button-group {
  &__button {
    background-color: $point-active;
    border: 0;
    border-radius: 15%;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }

  &__button:nth-of-type(2) {
    margin-left: 20px;
  }
}
