.form-block {
  padding-bottom: 25px;

  &__label {
    display: block;
    opacity: .60;
    font-size: 15px;
    font-family: $raleway, sans-serif;
  }

  &__input {
    padding-top: 5px;
    width: 100%;
    display: block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(250, 250, 250, .60);
    resize: none;

    &_textarea {
      height: 75px;
    }
  }

  &__submit {
    width: 245px;
    height: 55px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $montserrat, sans-serif;
    border-radius: 3%;
    background-color: $submit-button;
  }
}