.personal-content {
  text-align: center;
  background-color: $personal-content-background;

  &__title {
    font-size: 20px;
    letter-spacing: 1px;
    color: $black;
    font-family: $montserrat-bold, sans-serif;
  }

  &__description {
    color: $black;
    opacity: .70;
    font-family: $raleway, sans-serif;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .personal-content {
    padding: 100px 80px 70px;
    margin: 30px 0 30px 120px;

    &__title {
      padding-bottom: 35px;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .personal-content {
    padding: 30px 20px 20px;
    margin: 20px 0;

    &__title {
      padding-bottom: 15px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .personal-content {
    padding: 20px 20px 20px;
    margin: 10px 0;

    &__title {
      padding-bottom: 15px;
    }
  }
}