.block {
  color: $black;

  &__title {
    font-family: $montserrat-bold, sans-serif;
    font-size: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__sub-title {
    font-family: $merriweather, serif;
    font-size: 18px;
    letter-spacing: 1px;
    opacity: .62;
    text-transform: uppercase;
  }

  &__header {
    text-align: center;
  }
}

@media screen and  (min-width:1160px) {
  .block {
    padding: 150px 0;

    &__header {
      padding-bottom: 150px;
    }
  }
}

@media screen and (min-width:600px) and (max-width:1160px) {
  .block {
    padding: 30px 0;

    &__header {
      padding-bottom: 30px;
    }
  }
}

@media screen and (min-width:320px) and (max-width:600px) {
  .block {
    padding: 20px 0;

    &__header {
      padding-bottom: 20px;
    }
  }
}
