.header {
  background-color: $grey-background;
  font-family: $montserrat-bold, sans-serif;
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    &_center {
      text-align: center;
    }
  }

  &__title {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__contact-us {
    font-family: $montserrat, sans-serif;
    background-color: $grey-background;
    letter-spacing: 2px;
    opacity: .75;
    position: relative;
  }
}

@media screen and (min-width:600px) {
  .header::after {
    position: absolute;

    @media screen and (min-width: 1160px) {
      @include background-image("/images/juice_glass.png", 120px, 120px);
      bottom: 15%;
      left: 70%;
    }

    @media screen and (min-width: 600px) and (max-width: 1160px) {
      @include background-image("/images/juice_glass.png", 100px, 100px);
      bottom: 1%;
      left: 70%;
    }
  }
}

@media screen and (min-width:320px) and (max-width:1160px) {
  .header {
    padding-bottom: 30px;
    padding-top: 30px;

    &__middle {
      padding-bottom: 20px;
      padding-top: 10px;
    }
  }
}

@media screen and (min-width:320px) and (max-width:600px) {
  .header {
    &__title {
      font-size: 16px;
    }
  }
}

@media screen and (min-width:600px) and (max-width:1160px) {
  .header {
    &__title {
      font-size: 25px;
    }
  }
}

@media screen and  (min-width:1160px) {
  .header {
    padding-bottom: 200px;
    padding-top: 60px;

    &__middle {
      padding-bottom: 150px;
      padding-top: 200px;
    }

    &__title {
      font-size: 45px;
    }
  }
}


