.footer {
  background-color: $footer-background;
  font-family: $raleway, sans-serif;
  color: $white;

  &__title {
    padding-bottom: 15px;
    opacity: .80;
    font-weight: lighter;
  }

  &__social-icons {
    padding-bottom: 40px;
  }

  &__item {
    text-align: center;
  }

  &__copyright {
    opacity: .40;
  }
}