.menu {
  display: flex;

  &__item {
    padding: 5px;
  }

  &__item:not(:last-child) {
    margin-right: 13px;
  }

  &__item:hover {
    background-color: $white;
  }

  &__close {
    background-color: $grey-background;
    cursor: pointer;
    @include background-image("/images/close_img.png", 10px, 10px);
  }
}

