.content {
  margin: 0 auto;
}

@media screen and  (min-width:1160px) {
  .content {
    width: 1160px;
  }
}

@media screen and (min-width:320px) and (max-width:1160px) {
  .content {
    width: 95%;
  }
}
