.point-group {
  &__point {
    background-color: #point;
    border: 1px solid $slider-point;
    border-radius: 30%;
    display: inline-block;
    height: 13px;
    margin: 0 2px;
    padding: 0;
    width: 13px;

    &_active {
      background-color: $point-active;
    }
  }
}
