.slider {
  position: relative;
  z-index: 1;

  &__item {
    animation-duration: 1.5s;
    animation-name: fade;
    display: none;
  }

  &__points {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
}

@keyframes fade {
  from {opacity: .8;}
  to {opacity: 1;}
}

@media screen and  (min-width:1160px) {
  .slider {
    &__item {
      &_fixed {
        height: 480px;
        width: 400px;
      }
    }

    &_background::after {
      background-color: $slider-background;
      content: '';
      display: block;
      height: 410px;
      left: 20px;
      position: absolute;
      top: 35px;
      width: 470px;
      z-index: -1;
    }
  }
}

@media screen and (min-width:600px) and (max-width:1160px) {
  .slider {
    &__item {
      &_fixed {
        height: 560px;
        width: 480px;
      }
    }
  }
}

@media screen and (min-width:320px) and (max-width:600px) {
  .slider {
    &__item {
      &_fixed {
        height: 370px;
        width: 340px;
      }
    }
  }
}

@media screen and (min-width:320px) and (max-width:480px) {
  .slider {
    &__item {
      &_fixed {
      height: 260px;
      width: 230px;
      }
    }
  }
}
